@model Server.Core.ViewModel.VmBase

<table>
    @foreach (var p in Model.villages)
    {
        <tr>
            <td>@p.village_id</td>
            <td>&nbsp&nbsp&nbsp</td>
            <td>@p.rgn_id</td>
            <td>&nbsp&nbsp&nbsp</td>
            <td>@p.village_name</td>
        </tr>
    }
    @*@foreach (var p in Model.VwNsiVillages)
    {
        <tr>
            <td>@p.NVILLAGE_ID</td>
            <td>&nbsp&nbsp&nbsp</td>
            <td>@p.NVILLAGE_TYPE_NAME</td>
            <td>&nbsp&nbsp&nbsp</td>
            <td>@p.NVILLAGE_NAME</td>
        </tr>
    }*@
</table>